@font-face {
    font-weight: 400;
    font-family: "Work Sans";
    font-style: normal;
    src: local("Work Sans Regular"), local("WorkSans-Regular"),
        url("../fonts/static/WorkSans-Regular.woff2") format("woff2"),
        url("../fonts/static/WorkSans-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-weight: 600;
    font-family: "Work Sans";
    font-style: normal;
    src: local("Work Sans SemiBold"), local("WorkSans-SemiBold"),
        url("../fonts/static/WorkSans-SemiBold.woff2") format("woff2"),
        url("../fonts/static/WorkSans-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "Work Sans";
    font-style: normal;
    src: local("Work Sans Bold"), local("WorkSans-Bold"), url("../fonts/static/WorkSans-Bold.woff2") format("woff2"),
        url("../fonts/static/WorkSans-Bold.woff") format("woff");
    font-display: swap;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-weight: 400 600 700;
        font-family: "Work Sans";
        font-stretch: 50% 200%;
        src: url("../fonts//WorkSans-Regular.woff2") format(woff2) tech(variations),
            url("../fonts/WorkSans-Regular.woff2") format("woff2-variations");
    }
}
